.Joke{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #eeeeee;
    font-weight: 400;
    padding: 1rem;
}

.Joke-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
    width: 15%;
}

.Joke-text{
    width:75%;
    font-size: 1rem;
    margin-right: 1.8rem;
}

.Joke-votes{
    font-size: 18px;
    font-weight: 300;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 3px solid red;
    text-align: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3), 0 12px 10px rgba(0, 0, 0, 0.1);
}

.fa-arrow-up, .fa-arrow-down{
    font-size: 1.2em;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.fa-arrow-up:hover {
    animation-name: move-up;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    color: #8bc34a;
  }
  
  @keyframes move-up {
    0%,
    50%,
    100% {
      transform: translateY(0);
    }
    25%,
    75% {
      transform: translateY(-3px);
    }
  }
  .fa-arrow-down:hover {
    animation-name: move-down;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    color: #f44336;
  }
  @keyframes move-down {
    0%,
    50%,
    100% {
      transform: translateY(0);
    }
    25%,
    75% {
      transform: translateY(3px);
    }
  }

.Joke-smiley{
    margin-left: 0.5rem;
    font-size: 2.4rem;
    margin-left: auto;
    border-radius: 50%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3), 0 12px 10px rgba(0, 0, 0, 0.1);
}


.Joke-smiley:hover {
    animation-name: spin;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(20deg);
    }
    60% {
      transform: rotate(0deg);
    }
    80% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }